<div class="loader">
    <form name="loaderForm">

        <% for (var i = 0; i < fields.length; i++) { %>

            <div class="loader__input-wrapper loader__input-wrapper<%= fields[i].modifier %>">
                <input  id="<%= fields[i].id %>"
                        name="<%= fields[i].name %>"
                        class="loader__input <%= fields[i].bind %>"
                        <% if (fields[i].min) { %>
                        min="<%= fields[i].min %>"
                        <% } %>
                        data-<%= fields[i].data %>="true"
                        type="<%= fields[i].type %>">

                <label for="<%= fields[i].id %>" class="loader__input-overlay">
                    <span class="loader__input-label" data-label="<%= fields[i].label %>"><%= fields[i].label %></span>
                </label>
            </div>

        <% } %>

        <div class="loader__progress js-progress" data-current="" data-chapter=""></div>

        <button class="loader__btn <%= submit.bind %>" type="button">
            <div class="loader__btn-text"><%= submit.label %></div>
            <span class="loader__btn-progress js-progress-bar" style="width: 0%"></span>
        </button>
    </form>
</div>